<section class="container mt-5">
    <section class="row">
    <section class="col">
    <section class="row">
    <section class="col-2">
    <img class="pt-5" width="50" src="../../../assets/caja.png" alt="">
    </section>
    <section class="col-10">
    <h2>Misión</h2>
    <p>Tenemos la mision de formar personas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
    eveniet
    pariatur quibusdam earum modi accusamus. Ullam et enim perferendis</p>
    </section>
    </section>
    </section>
    <section class="col">
    <section class="row">
    <section class="col-2">
    <img class="pt-5" width="50" src="../../../assets/caja.png" alt="">
    </section>
    <section class="col-10">
    <h2>Visión</h2>
    <p>Nuestra vision es ser la comunidad Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero numquam
    porro
    totam provident! Ut, aut illum harum quisquam consequuntur delectus maxime error quia alias, a soluta quam.
    Sint, suscipit adipisci.</p>
    </section>
    </section>
    </section>
    </section>
    </section>
